body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(166,180,150);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

div2 {
    padding: 20px 20px 20px 20px;  
    font-family: Urbanist;
    font-size: 12pt;
    color: rgb(127,137,116);
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {color: rgb(127,137,116);text-decoration: none;}
a:visited {color: rgb(127,137,116);text-decoration: none;}
a:hover {color: rgb(127,137,116);}

footer {
    padding: 20px 20px 20px 20px;
    font-family: Urbanist;
    font-size: 12pt;
    color: rgb(127,137,116); 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Use these symbols to enlose comments on CSS */
