body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(166,180,150);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
}

div2 {
    padding: 20px 20px 20px 20px;  
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 9pt;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {color: #ff0000;text-decoration: none;}
a:visited {color: #ff0000;text-decoration: none;}
a:hover {color: #ff0000;}

footer {
    padding: 20px 20px 20px 20px;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 9pt;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Use these symbols to enlose comments on CSS */
