body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(166,180,150);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.contact {
    padding: 10px 10px 10px 10px;  
    font-family: "Century Gothic", sans-serif;
    font-size: 12pt;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    padding: 10px 10px 10px 10px;
    font-family: "Century Gothic", sans-serif;
    font-size: 10pt;
    color: black; 
}
